body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

.fondo {
  background-image: url('https://cards.algoreducation.com/_next/image?url=https%3A%2F%2Ffiles.algoreducation.com%2Fproduction-ts%2F__S3__54164772-aac1-46a4-bc97-728a0afe5e67&w=3840&q=75');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
  text-align: center;
  padding: 0 1rem;
  position: relative;
}

h1 {
  font-size: 3.0rem; 
  margin: 0.5em 0 0.2em;
  font-weight: 600;
}

p {
  font-size: 1.2rem; 
  max-width: 600px;
  margin-bottom: 2em;
  font-weight: 400;
}

.boton {
  position: absolute;
  bottom: 40px;
  padding: 15px 30px;
  font-size: 1rem;
  background-color: #a3d8f4;
  color: #003344;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s;
  text-decoration: none;
}

.boton:hover {
  background-color: #87cde8;
}