.container {
  display: flex;
  height: 100vh;
}

body {
  font-family: 'Poppins', sans-serif;
  padding: 2em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

article {
  flex: 2;
  background-color: #1f7c10;
  padding: 20px;
  margin-right: 20px;
}

aside {
  padding: 20px;
  margin: 20px 0;
  background-color: #d8f9c6;
}

footer {
  background-color: #0F0F0F;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.left-column {
  flex: 1;
  padding: 20px;
  background-color: #bff3a3;
  overflow-y: auto;
}

.right-column {
  flex: 1;
  padding: 20px;
  background-color: #bff3a3;
  overflow-y: auto;
}

p {
  font-size: 16px;
  line-height: 1.6;
}
